services:

  attendance-bot:
    image: leelingzhen/telegram-attendance-management:latest
    container_name: attendance_bot
    build:
      context: .
      dockerfile: ./docker/build.Dockerfile
    env_file:
      - ./.env

  dev:
    # Use the specific development Dockerfile
    container_name: attendance_bot_dev
    build:
      context: .
      dockerfile: ./docker/dev.Dockerfile
    volumes:
      - .:/app
    command: tail -f /dev/null
    env_file:
      - ./.env

  test:
    # Use the specific development Dockerfile
    container_name: attendance_bot_tests
    build:
      context: .
      dockerfile: ./docker/unittest.Dockerfile
    volumes:
      - .:/app
    env_file:
      - ./.env
