version: '3.8'

services:
  dev:
    # Use the specific development Dockerfile
    container_name: attendance_bot_dev
    build:
      context: .
      dockerfile: ./docker/dev.Dockerfile
    volumes:
      - .:/app
    command: tail -f /dev/null
    env_file:
      - ./.env

  attendance-bot:
    container_name: attendance_bot
    build:
      context: .
      dockerfile: ./docker/build.Dockerfile
    env_file:
      - ./.env
